# **Task P7** 
## Analyzing the Avocado Data

##### This task uses the avocado dataset. The dataset contains historical data on avocado prices and sales volume in multiple U.S. markets. One of the columns in this dataset, Unnamed: 0, contains sequential numbers that are irrelevant to analyzing this data. Three of the other columns contain sales for PLU (price look-up) codes 4046, 4225, and 4770. These columns will not be used in this task. If you review the data, you’ll see that some of the regions overlap. For example, one of the regions is the entire U.S., and all of the other regions are parts of the U.S. Because of that, you would need to review this data carefully before determining the best way to analyze it. For the purposes of this task though, the overlapping regions won’t be taken into consideration.

##### https://www.kaggle.com/neuromusic/avocado-prices

<img src="avocado-logo.png" alt="SIT112 Avocado!" width="1800" height="200">

### A. Instructions

1. Complete this task without looking at the solution notebook. 
2. You can then look at the solution notebook and compare it against yours.
3. Complete and submit the TaskCompletionReport form in PDF format using Ontrack. You can do this by the end of Week 12, but feedback will only be provided for submissions received by 11 AM of the due date.
4. Do **not** include the solution (yours or the one provided to you) in your submission.
5. The workshops are the primary venue for you to seek help if you need any clarification/assistance. The tutors are there to help you complete and submit the tasks. Please avoid emailing your code or screenshots to the tutors outside workshop hours. 
6. Consider using online resources such as ChatGPT to strengthen your understanding of the task. 

Good luck :)

### B. Write Python code that performs (answers) the following operations (questions)

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

##### 1.	Read the data from the CSV file into a DataFrame and display the first five rows.

In [7]:
# write your code here
df = pd.read_csv('avocado.csv')
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

##### 2.	Display basic information about the DataFrame and its columns to see that the Date column has the object type.

In [8]:
# write your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

##### 3.	Convert the Date column to the datetime type.

In [17]:
# write your code here
df.Date = pd.to_datetime(df.Date)

##### 4.	Filter the data so it contains just the rows for 2015, for the conventional type, and for the region named Albany. Store just the Date, Total Bags, and Small Bags columns in a new DataFrame.

In [18]:
# write your code here
# write your code here

# Filter the data to include only the rows where the year is 2015, the region is "Albany", and the type is "conventional"
df_filtered = df.query('year == 2015 and region == "Albany" and type == "conventional"')

# Select only the "Date", "Total Bags", and "Small Bags" columns from the filtered data
df_filtered = df_filtered[['Date','Total Bags','Small Bags']]
# Filter the data to include only the rows where the year is 2015, the region is "Albany", and the type is "conventional"

# Select only the "Date", "Total Bags", and "Small Bags" columns from the filtered data

##### 5.	Melt the data in the Total Bags and Small Bags columns, but not the values in the Date column. Name the column that contains the type of bag Bags, and name the column that contains the number of bags Count. Then, display the resulting DataFrame.

In [11]:
# write your code here

# Reshape the data using pd.melt(), with the "Date" column as the identifier variable
# and the "Total Bags" and "Small Bags" columns as the value variables

# Display the reshaped data

##### 6.	Plot the melted data with Seaborn in a line plot, using the hue parameter to distinguish between the bag types.

In [12]:
# write your code here

##### 7.	Bin the data in the Total Volume column into four quantiles labeled ‘poor’, ‘modest’, ‘good’, and ‘excellent’, and store the bin labels in a new column.

In [13]:
# write your code here

##### 8.	Plot the binned data by year using a Seaborn count plot.

In [14]:
# write your code here

##### 9.	Of the three bag sizes, which size sells the most? Hint: Melt the three bag size columns and plot the bags by year.

In [15]:
# write your code here

# melt the data for plotting by year and bags

# plot the data using seaborn line plot with hue based on bags

##### 10.	Which type of avocado sells the most?

In [16]:
# write your code here